<h1>Editing tuesday12decemer</h1>

<%= render "form", tuesday12decemer: @tuesday12decemer %>

<br>

<div>
  <%= link_to "Show this tuesday12decemer", @tuesday12decemer %> |
  <%= link_to "Back to tuesday12decemers", tuesday12decemers_path %>
</div>
